@use "../mixins/hover.scss" as *;
@use "../mixins/pseudo.scss" as *;
.card {
  background-image: linear-gradient(rgb(117, 75, 154), aquamarine);
  width: 350px;
  height: 450px;
  padding: 38px;
  border-radius: 10px;
  margin: 20px;

  &__title {
    color: white;
    font-size: 24px;
  }

  &__text {
    color: beige;
    font-size: 16px;
    margin-bottom: 50px;
  }

  &__buton {
    background-color: aquamarine;
    display: inline-block;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    padding: 8px;
    color: rgb(117, 75, 154);

    @include hover {
      background-color: rgb(117, 75, 154);
      color: white;
    }
  }

  &::after {
    @include pseudo(100px, 100px);
    top: 0;
    left: 0;
    background-color: beige;
  }
}
